html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, main, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    background-color: #f0f0f0;
    font: 100%/1.5 "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
    overflow-y: scroll
}
body,a,a:hover,a:focus,caption{
    color:#333
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

abbr[title] {
    border-bottom: none;
	text-decoration: none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

input, select {
    vertical-align:middle;
}

input[type=search] {
    border: 1px solid #ccc;
    padding: 0.375em;
    line-height: 1.25;
    width: 8.75rem;
}

@media screen {
    abbr[title], dfn[title] {
        cursor:help;
    }
    #loader{
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:9999;
        background:#43b2e0
    }
    #loader img{
        width:48px; height:48px;
        position:absolute;
        top:50%;
        left:50%;
        margin:-24px 0 0 -24px;
        -webkit-transition:opacity .2s;
        transition:opacity .2s;
        -webkit-animation-duration:.8s;
        animation-duration:.8s;
        -webkit-animation-name:spin;
        animation-name:spin;
        -webkit-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
        -webkit-animation-timing-function:ease-in-out;
        animation-timing-function:ease-in-out
    }
    @-webkit-keyframes spin{
        0%{
            -webkit-transform:rotate(0deg); }
        100%{
            -webkit-transform:rotate(360deg); } }
    @keyframes spin{
        0%{
            -webkit-transform:rotate(0deg);
            transform:rotate(0deg); }
        100%{
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg); } }
}

/* Body */

article {
    padding: 1.25em;
    margin: 1em auto;
}

h1{
    color:#ff69b4;
    font-size:1.5em;
    font-weight:700;
    text-align:center;
    margin:0 0 1em
}

h1 a {
    color:#ff69b4;
    text-decoration: none;
}

h1 a:focus, h1 a:hover {
    color:#4d6ad8;
}

#trainer-info {
    width: 14em;
    margin: 0 auto 1em
}
#trainer-info img{
    float:left;
    margin:0 0.5em 0 0
}
#trainer-info dl {
    margin-top: 1px
}
#trainer-info dt, #trainer-info dd {
    display:inline-block
}
#trainer-info dt {
    width:2.5em
}
#trainer-info dt:after {
    content:":"
}
#trainer-info dd {
    width:8em;
    font-weight:400
}

nav ul {
    clear: left;
    list-style:none;
    margin:0 0 2em;
    font-weight:700;
    text-align:center;
}

nav ul li {
    display:inline-block;
    vertical-align: middle;
    position:relative
}

nav > ul > li abbr {
    vertical-align:middle;
}

nav > ul > li abbr::after {
    content:":";
}

nav ul li a,
#copy2reddit [data-clipboard-target] {
    display:inline-block;
    margin:0 0.5em 0 0;
    background-color:#4d6ad8;
    font-weight:700;
    color:#f0f0f0;
    padding:0.5em 0;
    border-radius:0.25em;
    line-height: 1.45;
    width:7.5em;
    text-align:center
}
nav ul li a:hover, #copy2reddit [data-clipboard-target]:hover {
    color:#f0f0f0;
}
nav ul li.current::after {
    width: 0;
    height: 0;
    border-left: .75em solid transparent;
    border-right: .75em solid transparent;
    border-top: .75em solid #4d6ad8;
    content: " ";
    display: block;
    position: absolute;
    top: 2.4375em;
    left: 3em;
}
nav ul li.wide a { width:11.25em }
nav ul li.current.wide::after { left:4.875em }
nav ul li.wider a { width:15em }
nav ul li.current.wider::after { left:6.75em }
nav ul li.widest a { width:18.75em }
nav ul li.current.widest::after { left:8.625em }

nav ul ul {
    margin: 0 0 0 0.5em;
    display: inline-block;
}

nav > ul > li:not(:first-child)::before {
    content: "|";
    display: inline-block;
    margin: 0 0.5em 0 0;
}

h2{
    background-color:#f0f0f0;
    color:#4d6ad8;
    font-size:1.5em;
    font-weight:700;
    margin: 0 0 1em;
    text-align: center
}

h3{
    display:inline-block;
    font-size:1em;
    line-height:2;
    width:8em;text-indent:1em;
    margin:0;
    vertical-align: middle
}

h3::after{
    content:":"
}

#filters {
    width:90%;
    margin:0 auto;
    text-align:center
}

#filters h3{
    display:block;
    width:auto;
    margin:0 0 0.5em
}

table {
    border-collapse:collapse;
    border-spacing:0;
    background: url(bg-td.gif);
    line-height: 1;
    width: 100%
}

table thead tr {
    background: url(bg-th.gif);
    color: #f0f0f0;
}

thead th[rowspan], thead th[class] { border-bottom: 0.25em solid transparent; }

thead th[rowspan] { padding-top:0.625em; }
thead th.hp { border-bottom-color:#77f296; }
thead th.atk { border-bottom-color:#f4e585; }
thead th.def { border-bottom-color:#ffb17a; }
thead th.spa { border-bottom-color:#88dee3; }
thead th.spd { border-bottom-color:#859fff; }
thead th.spe { border-bottom-color:#d880ff; }
thead th.hidden-power { font-size:0.75em; }

td, th {
    text-align: center;
    padding: 0.375em 0.5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid #8f8173;
}

td.sprite, td.name, td.hp, td.atk, td.def, td.spa, td.spd, td.spe { white-space:nowrap }
td.hp, td.atk, td.def, td.spa, td.spd, td.spe { width:2.625em }
td.hp.rows2, td.atk.rows2, td.def.rows2, td.spa.rows2, td.spd.rows2, td.spe.rows2 { font-size:0.75em;line-height:1.45 }
td.poke-balls { width:6.625em }
td.hidden-power { width:3.125em }
td.name, td.trainer, td.nature, td.ability, td.moves, td.egg-moves { text-align:left }
td.moves,td.egg-moves { line-height:1.45 }

td.sprite{width:3.5em;max-width:3.5em}

.gender{
    font-family:"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols"
}
.gender.female { color:#f6807a }
.gender.male { color:#499fff }

td.name .form,td.name .nickname,td.trainer .tid { font-size:0.75em }

tr.shiny td.name::before,
#pokemon-info.shiny .name::before{
    content: "★ ";
    color:#f11
}

tr:hover td {
    background-color: rgba(67,178,224,0.5);
    cursor:cell
}
tr.selected td {
    background-color: rgba(68,68,68,0.25);
}
tr.selected:hover td {
    background-color: rgba(213,58,58,0.25);
    cursor:not-allowed
}

td.adamant ~ td.atk, td.brave ~ td.atk, td.lonely ~ td.atk, td.naughty ~ td.atk,
td.bold ~ td.def, td.impish ~ td.def, td.relaxed ~ td.def,
td.modest ~ td.spa, td.mild ~ td.spa, td.rash ~ td.spa, td.quiet ~ td.spa,
td.calm ~ td.spd, td.careful ~ td.spd, td.sassy ~ td.spd,
td.jolly ~ td.spe, td.timid ~ td.spe, td.hasty ~ td.spe, td.naive ~ td.spe,
dd.adamant ~ dt.ivs + dd .atk, dd.brave ~ dt.ivs + dd .atk, dd.lonely ~ dt.ivs + dd .atk, dd.naughty ~ dt.ivs + dd .atk,
dd.bold ~ dt.ivs + dd .def, dd.impish ~ dt.ivs + dd .def, dd.relaxed ~ dt.ivs + dd .def,
dd.modest ~ dt.ivs + dd .spa, dd.mild ~ dt.ivs + dd .spa, dd.rash ~ dt.ivs + dd .spa, dd.quiet ~ dt.ivs + dd .spa,
dd.calm ~ dt.ivs + dd .spd, dd.careful ~ dt.ivs + dd .spd, dd.sassy ~ dt.ivs + dd .spd,
dd.jolly ~ dt.ivs + dd .spe, dd.timid ~ dt.ivs + dd .spe, dd.hasty ~ dt.ivs + dd .spe, dd.naive ~ dt.ivs + dd .spe{ color: #c00000; }

td.modest ~ td.atk, td.timid ~ td.atk, td.calm ~ td.atk, td.bold ~ td.atk,
td.lonely ~ td.def, td.mild ~ td.def, td.hasty ~ td.def,
td.adamant ~ td.spa, td.jolly ~ td.spa, td.impish ~ td.spa, td.careful ~ td.spa,
td.naive ~ td.spd, td.rash ~ td.spd, td.naughty  ~ td.spd,
td.brave ~ td.spe, td.quiet ~ td.spe, td.sassy ~ td.spe, td.relaxed ~ td.spe,
dd.modest ~ dt.ivs + dd .atk, dd.timid ~ dt.ivs + dd .atk, dd.calm ~ dt.ivs + dd .atk, dd.bold ~ dt.ivs + dd .atk,
dd.lonely ~ dt.ivs + dd .def, dd.mild ~ dt.ivs + dd .def, dd.hasty ~ dt.ivs + dd .def,
dd.adamant ~ dt.ivs + dd .spa, dd.jolly ~ dt.ivs + dd .spa, dd.impish ~ dt.ivs + dd .spa, dd.careful ~ dt.ivs + dd .spa,
dd.naive ~ dt.ivs + dd .spd, dd.rash ~ dt.ivs + dd .spd, td.naughty  ~ td.spd,
dd.brave ~ dt.ivs + dd .spe, dd.quiet ~ dt.ivs + dd .spe, dd.sassy ~ dt.ivs + dd .spe, dd.relaxed ~ dt.ivs + dd .spe{ color: #0000d0; }

tr.hidden-ability .ability { font-style: italic; }

td.rows2 .item-sprite.row1,
td.rows3 .item-sprite.row1,
td.rows4 .item-sprite.row1 { margin-bottom:0; }
td.rows2 .item-sprite.row2,
td.rows3 .item-sprite.row3,
td.rows4 .item-sprite.row4 { margin-top:0; }
td.rows3 .item-sprite.row2,
td.rows4 .item-sprite.row2,
td.rows4 .item-sprite.row3 { margin:0 0.125em; }

.menu-sprite, .item-sprite{
    display:inline-block;
    background-color:transparent;
    background-repeat:no-repeat;
    background-origin:content-box;
    vertical-align:middle;
    text-indent:-999em  
}
.menu-sprite{
    background-image:url(menusprites.png);
    width:1.875em;
    height:1.875em;
    margin:0 0.3125em
}
.sprite.up{
    padding:0.3125em 0.125em 0.5625em
}
.menu-sprite.charmander{width:30px;height:30px;background-position:30px 0}

span.hidden-power{
    background-image:url(types.png);
    background-repeat:no-repeat;
    display:inline-block;
    width:3em;
    height:1.125em;
    text-indent:-999em
}
.hidden-power.fighting{background-position:-48px 0}
.hidden-power.flying{background-position:-96px 0}
.hidden-power.poison{background-position:0 -18px}
.hidden-power.ground{background-position:-48px -18px}
.hidden-power.rock{background-position:-96px -18px}
.hidden-power.bug{background-position:0 -36px}
.hidden-power.ghost{background-position:-48px -36px}
.hidden-power.steel{background-position:-96px -36px}
.hidden-power.fire{background-position:0 -54px}
.hidden-power.water{background-position:-48px -54px}
.hidden-power.grass{background-position:-96px -54px}
.hidden-power.electric{background-position:0 -72px}
.hidden-power.psychic{background-position:-48px -72px}
.hidden-power.ice{background-position:-96px -72px}
.hidden-power.dark{background-position:0 -90px}
.hidden-power.dragon{background-position:-48px -90px}
.hidden-power.fairy{background-position:-96px -90px}

.item-sprite{
	width:1.625em;height:1.625em;
	margin: 0.375em 0.125em;
	background-image:url(itemsprites.png)
}
.item-sprite.master-ball{background-position:-26px 0}
.item-sprite.ultra-ball{background-position:-52px 0}
.item-sprite.great-ball{background-position:-78px 0}
.item-sprite.poke-ball{background-position:-104px 0}
.item-sprite.safari-ball{background-position:-130px 0}
.item-sprite.net-ball{background-position:-156px 0}
.item-sprite.dive-ball{background-position:-182px 0}
.item-sprite.nest-ball{background-position:-208px 0}
.item-sprite.repeat-ball{background-position:-234px 0}
.item-sprite.timer-ball{background-position:-260px 0}
.item-sprite.luxury-ball{background-position:-286px 0}
.item-sprite.premier-ball{background-position:-312px 0}
.item-sprite.dusk-ball{background-position:-338px 0}
.item-sprite.heal-ball{background-position:-364px 0}
.item-sprite.quick-ball{background-position:-390px 0}
.item-sprite.cherish-ball{background-position:-416px 0}
.item-sprite.fast-ball{background-position:-416px -260px}
.item-sprite.level-ball{background-position:-442px -260px}
.item-sprite.lure-ball{background-position:-468px -260px}
.item-sprite.heavy-ball{background-position:-494px -260px}
.item-sprite.love-ball{background-position:0 -286px}
.item-sprite.friend-ball{background-position:-26px -286px}
.item-sprite.moon-ball{background-position:-52px -286px}
.item-sprite.sport-ball{background-position:-78px -286px}
.item-sprite.dream-ball{background-position:-416px -312px}
.item-sprite.beast-ball{background-position:-312px -442px}

.game-mark{
    width:10px;height:10px;
    background-image:url(gamemarks.png);
}
.game-mark.black-clover{background-position:-10px 0}
.game-mark.vc{background-position:0 -10px}
.game-mark.go{background-position:-10px -10px}

/* Footer */
[role="contentinfo"] {
    padding: 1.5em 0 0;
    font-size: 0.75em;
    text-align: right
}

@media screen and (max-width: 51.25em) {
    .menu-sprite,.ivs, .hp, .atk, .def, .spa, .spd, .spe, th.hidden-power, td.hidden-power {
        display: none
    }
    
    table, #filters, .btn, .dropdown-menu, #copy2reddit {
        font-size: 0.875em;
    }
    
    td.sprite,td.sprite.up {
        padding:0;
        width:auto;
        max-width:none;
    }    
}

@media screen and (max-width: 67.5em) {
    th.hidden-power,td.hidden-power {
        display: none
    }
}

@media print {
    a {
        color: #000;
        text-decoration: none;
    }
    
    a[href^="mailto:"]:after {
        content: " (" attr(data-email) ")";
    }
    
    [role="search"],
    [role="contentinfo"] {
        display: none;
    }
}

.filtered {
    display: none;
}
.filter{
    display:inline-block;
    margin:0 1em 1em
}
.filter label{
    margin:0 0.5em 0 0;
    vertical-align: middle;
}
#filters .filter label[for] {
    width:8em
}
.multiselect-container{
    position:absolute;
    list-style-type:none;
    margin:0;
    padding:0
}
.multiselect-container .input-group{
    margin:5px
}
.multiselect-container>li{
    padding:0
}
.multiselect-container>li>a.multiselect-all label{
    font-weight:700
}
.multiselect-container>li.multiselect-group label{
    margin:0;
    padding:3px 20px;
    height:100%;
    font-weight:700
}
.multiselect-container>li.multiselect-group-clickable label{
    cursor:pointer
}
.multiselect-container>li>a{
    padding:0
}
.multiselect-container>li>a>label{
    margin:0;
    height:100%;
    cursor:pointer;
    font-weight:400;
    padding:3px 20px 3px 40px
}
.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox{
    margin:0
}
.multiselect-container>li>a>label>input[type=checkbox]{
    margin-bottom:5px
}
.filter .btn{
    padding:6px 3px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px
}
.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio{
    padding:3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio]{
    margin-left:-20px;
    margin-right:0
}

body.shiny tbody tr {
    cursor: pointer
}

.hidden{
    display:none
}

#modal {
    position:fixed;
    top:0;left:0;
    z-index:3000;
    height:100%;
    width:100%;
    background-color:#333;
    background-color:rgba(0,0,0,0.75);
}

#pokemon-info {
    background: url(bg.png);
    width: 28em;
    padding: 1em;
    border: 0.0625em solid #333;
    position: absolute;
    top:50%;left:50%;
    margin-left:-14em;
    margin-top:-10.1875em
}


#pokemon-info .carousel {
    display:block;
    width:3.0625rem;
    height:100%;
    position:absolute;
    top:0;
    left:-3.0625rem;
    text-indent:-999em
}
#pokemon-info .carousel.next{
    left:auto;
    right:-3.5625rem;
}
#pokemon-info .carousel a{
    display:table;
    box-sizing:border-box;
    height:100%;
    padding:0 0 0.5em;
    text-indent:-999em
}
#pokemon-info .carousel a:hover{
    text-decoration:none
}
#pokemon-info .carousel a::before{
    content:"\0025c0";
    color:#dedede;
    text-indent:0;
    font-size:3em;
    display:table-cell;
    vertical-align:middle
}
#pokemon-info .carousel.next a::before{
    content:"\0025b6"
}
#pokemon-info .carousel a:hover::before{
    color:#4d6ad8;
    text-shadow: 0 0 1em #f0f0f0
}

#pokemon-info h1 {    
    color: #333;
    font-size: 1em;
    line-height: 1.875;
    margin: 0.25em 0;
    text-align: left
}
#pokemon-info h1 .menu-sprite {
    vertical-align: middle;    
}
#pokemon-info h1 .level{
    font-weight:400;
    font-size:0.75em
}
#pokemon-info dl {
    width: 18em;
}
#pokemon-info dt, #pokemon-info dd {
    display:inline-block;
    margin:0 0 0.375em
}
#pokemon-info dt {
    font-weight: 700;
    width: 5em;
}
#pokemon-info dd {
    width: 13em
}
#pokemon-info figure {
    background: url(pokeball-grey.png) no-repeat center center;
    text-align: center;
    line-height: 10em;
    width: 11.25em;
    height: 11.25em;
    top: 1em;
    right: 1em;
    position: absolute;
}
#pokemon-info figure .model {
    vertical-align: middle;
    max-width:11.25em
}
#pokemon-info figure .item-sprite {
    position: absolute;
    bottom: 0;
    right: 0.5em;
}
#pokemon-info ul {
    list-style: none;
    clear: right;
}
#pokemon-info li {
    display: inline-block;
    width: 12.9375em;
}
#pokemon-info li::before {content: "~ ";}

#pokemon-info .language{
    color:#fff;
    background-color:#505050;
    border-radius:0.143em;
    padding:0.214em;
    font-size:0.875em;
    line-height:1;
    position: absolute;
    top: 1em;
    right: 1em;
}
#pokemon-info .game-mark{
    position: absolute;
    text-indent:-999em;
    top: 2.5em;
    right: 1em;
}
#pokemon-info .notes {
    font-size:0.75em;
    margin:1.667em 0 0
}
#pokemon-info .notes a {
    color:#4d6ad8
}

#copy2reddit{
    margin: 1em;
}
#copy2reddit p {
    display:inline-block;
    line-height:2;
    vertical-align:middle
}
#copy2reddit .filter {
    display:block;
    margin-top:.5em
}
#markdown {
    font-family:Consolas,monaco,monospace;
    font-size:0.75em;
    height:15em;
    overflow:scroll;
    background:#fff;
    padding:0.5em;
    border:0.0625em solid #ccc;
}
#markdown .line {
    white-space: nowrap;
    word-wrap: break-word;
}
