html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, main, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    background-color: #f0f0f0;
    font: 100%/1.5 "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
    overflow-y: scroll
}
body,a,a:hover,a:focus,caption{
    color:#333
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

abbr[title] {
    border-bottom: none;
	text-decoration: none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

input, select {
    vertical-align:middle;
}

input[type=search] {
    border: 1px solid #ccc;
    padding: 0.375em;
    line-height: 1.25;
    width: 8.75rem;
}

@media screen {
    abbr[title], dfn[title] {
        cursor:help;
    }
    #loader{
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:9999;
        background:#43b2e0
    }
    #loader img{
        width:48px; height:48px;
        position:absolute;
        top:50%;
        left:50%;
        margin:-24px 0 0 -24px;
        -webkit-transition:opacity .2s;
        transition:opacity .2s;
        -webkit-animation-duration:.8s;
        animation-duration:.8s;
        -webkit-animation-name:spin;
        animation-name:spin;
        -webkit-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
        -webkit-animation-timing-function:ease-in-out;
        animation-timing-function:ease-in-out
    }
    @-webkit-keyframes spin{
        0%{
            -webkit-transform:rotate(0deg); }
        100%{
            -webkit-transform:rotate(360deg); } }
    @keyframes spin{
        0%{
            -webkit-transform:rotate(0deg);
            transform:rotate(0deg); }
        100%{
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg); } }
}

/* Body */

article {
    padding: 1.25em;
    margin: 1em auto;
}

h1{
    color:#ff69b4;
    font-size:1.5em;
    font-weight:700;
    text-align:center;
    margin:0 0 1em
}

h1 a {
    color:#ff69b4;
    text-decoration: none;
}

h1 a:focus, h1 a:hover {
    color:#4d6ad8;
}

#trainer-info {
    width: 14em;
    margin: 0 auto 1em
}
#trainer-info img{
    float:left;
    margin:0 0.5em 0 0
}
#trainer-info dl {
    margin-top: 1px
}
#trainer-info dt, #trainer-info dd {
    display:inline-block
}
#trainer-info dt {
    width:2.5em
}
#trainer-info dt:after {
    content:":"
}
#trainer-info dd {
    width:8em;
    font-weight:400
}

nav ul {
    clear: left;
    list-style:none;
    margin:0 0 2em;
    font-weight:700;
    text-align:center;
}

nav ul li {
    display:inline-block;
    vertical-align: middle;
    position:relative
}

nav > ul > li abbr {
    vertical-align:middle;
}

nav > ul > li abbr::after {
    content:":";
}

nav ul li a,
#copy2reddit [data-clipboard-target] {
    display:inline-block;
    margin:0 0.5em 0 0;
    background-color:#4d6ad8;
    font-weight:700;
    color:#f0f0f0;
    padding:0.5em 0;
    border-radius:0.25em;
    line-height: 1.45;
    width:7.5em;
    text-align:center
}
nav ul li a:hover, #copy2reddit [data-clipboard-target]:hover {
    color:#f0f0f0;
}
nav ul li.current::after {
    width: 0;
    height: 0;
    border-left: .75em solid transparent;
    border-right: .75em solid transparent;
    border-top: .75em solid #4d6ad8;
    content: " ";
    display: block;
    position: absolute;
    top: 2.4375em;
    left: 3em;
}
nav ul li.wide a { width:11.25em }
nav ul li.current.wide::after { left:4.875em }
nav ul li.wider a { width:15em }
nav ul li.current.wider::after { left:6.75em }
nav ul li.widest a { width:18.75em }
nav ul li.current.widest::after { left:8.625em }

nav ul ul {
    margin: 0 0 0 0.5em;
    display: inline-block;
}

nav > ul > li:not(:first-child)::before {
    content: "|";
    display: inline-block;
    margin: 0 0.5em 0 0;
}

h2{
    background-color:#f0f0f0;
    color:#4d6ad8;
    font-size:1.5em;
    font-weight:700;
    margin: 0 0 1em;
    text-align: center
}

h3{
    display:inline-block;
    font-size:1em;
    line-height:2;
    width:8em;text-indent:1em;
    margin:0;
    vertical-align: middle
}

h3::after{
    content:":"
}

#filters {
    width:90%;
    margin:0 auto;
    text-align:center
}

#filters h3{
    display:block;
    width:auto;
    margin:0 0 0.5em
}

table {
    border-collapse:collapse;
    border-spacing:0;
    background: url(bg-td.gif);
    line-height: 1;
    width: 100%
}

table thead tr {
    background: url(bg-th.gif);
    color: #f0f0f0;
}

thead th[rowspan], thead th[class] { border-bottom: 0.25em solid transparent; }

thead th[rowspan] { padding-top:0.625em; }
thead th.hp { border-bottom-color:#77f296; }
thead th.atk { border-bottom-color:#f4e585; }
thead th.def { border-bottom-color:#ffb17a; }
thead th.spa { border-bottom-color:#88dee3; }
thead th.spd { border-bottom-color:#859fff; }
thead th.spe { border-bottom-color:#d880ff; }
thead th.hidden-power { font-size:0.75em; }

td, th {
    text-align: center;
    padding: 0.375em 0.5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid #8f8173;
}

td.sprite, td.name, td.hp, td.atk, td.def, td.spa, td.spd, td.spe { white-space:nowrap }
td.hp, td.atk, td.def, td.spa, td.spd, td.spe { width:2.625em }
td.hp.rows2, td.atk.rows2, td.def.rows2, td.spa.rows2, td.spd.rows2, td.spe.rows2 { font-size:0.75em;line-height:1.45 }
td.poke-balls { width:6.625em }
td.hidden-power { width:3.125em }
td.name, td.trainer, td.nature, td.ability, td.moves, td.egg-moves { text-align:left }
td.moves,td.egg-moves { line-height:1.45 }

td.sprite{width:3.5em;max-width:3.5em}

.gender{
    font-family:"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols"
}
.gender.female { color:#f6807a }
.gender.male { color:#499fff }

td.name .form,td.name .nickname,td.trainer .tid { font-size:0.75em }

tr.shiny td.name::before,
#pokemon-info.shiny .name::before{
    content: "★ ";
    color:#f11
}

tr:hover td {
    background-color: rgba(67,178,224,0.5);
    cursor:cell
}
tr.selected td {
    background-color: rgba(68,68,68,0.25);
}
tr.selected:hover td {
    background-color: rgba(213,58,58,0.25);
    cursor:not-allowed
}

td.adamant ~ td.atk, td.brave ~ td.atk, td.lonely ~ td.atk, td.naughty ~ td.atk,
td.bold ~ td.def, td.impish ~ td.def, td.relaxed ~ td.def,
td.modest ~ td.spa, td.mild ~ td.spa, td.rash ~ td.spa, td.quiet ~ td.spa,
td.calm ~ td.spd, td.careful ~ td.spd, td.sassy ~ td.spd,
td.jolly ~ td.spe, td.timid ~ td.spe, td.hasty ~ td.spe, td.naive ~ td.spe,
dd.adamant ~ dt.ivs + dd .atk, dd.brave ~ dt.ivs + dd .atk, dd.lonely ~ dt.ivs + dd .atk, dd.naughty ~ dt.ivs + dd .atk,
dd.bold ~ dt.ivs + dd .def, dd.impish ~ dt.ivs + dd .def, dd.relaxed ~ dt.ivs + dd .def,
dd.modest ~ dt.ivs + dd .spa, dd.mild ~ dt.ivs + dd .spa, dd.rash ~ dt.ivs + dd .spa, dd.quiet ~ dt.ivs + dd .spa,
dd.calm ~ dt.ivs + dd .spd, dd.careful ~ dt.ivs + dd .spd, dd.sassy ~ dt.ivs + dd .spd,
dd.jolly ~ dt.ivs + dd .spe, dd.timid ~ dt.ivs + dd .spe, dd.hasty ~ dt.ivs + dd .spe, dd.naive ~ dt.ivs + dd .spe{ color: #c00000; }

td.modest ~ td.atk, td.timid ~ td.atk, td.calm ~ td.atk, td.bold ~ td.atk,
td.lonely ~ td.def, td.mild ~ td.def, td.hasty ~ td.def,
td.adamant ~ td.spa, td.jolly ~ td.spa, td.impish ~ td.spa, td.careful ~ td.spa,
td.naive ~ td.spd, td.rash ~ td.spd, td.naughty  ~ td.spd,
td.brave ~ td.spe, td.quiet ~ td.spe, td.sassy ~ td.spe, td.relaxed ~ td.spe,
dd.modest ~ dt.ivs + dd .atk, dd.timid ~ dt.ivs + dd .atk, dd.calm ~ dt.ivs + dd .atk, dd.bold ~ dt.ivs + dd .atk,
dd.lonely ~ dt.ivs + dd .def, dd.mild ~ dt.ivs + dd .def, dd.hasty ~ dt.ivs + dd .def,
dd.adamant ~ dt.ivs + dd .spa, dd.jolly ~ dt.ivs + dd .spa, dd.impish ~ dt.ivs + dd .spa, dd.careful ~ dt.ivs + dd .spa,
dd.naive ~ dt.ivs + dd .spd, dd.rash ~ dt.ivs + dd .spd, td.naughty  ~ td.spd,
dd.brave ~ dt.ivs + dd .spe, dd.quiet ~ dt.ivs + dd .spe, dd.sassy ~ dt.ivs + dd .spe, dd.relaxed ~ dt.ivs + dd .spe{ color: #0000d0; }

tr.hidden-ability .ability { font-style: italic; }

td.rows2 .item-sprite.row1,
td.rows3 .item-sprite.row1,
td.rows4 .item-sprite.row1 { margin-bottom:0; }
td.rows2 .item-sprite.row2,
td.rows3 .item-sprite.row3,
td.rows4 .item-sprite.row4 { margin-top:0; }
td.rows3 .item-sprite.row2,
td.rows4 .item-sprite.row2,
td.rows4 .item-sprite.row3 { margin:0 0.125em; }

.menu-sprite, .item-sprite{
    display:inline-block;
    background-color:transparent;
    background-repeat:no-repeat;
    background-origin:content-box;
    vertical-align:middle;
    text-indent:-999em  
}
.menu-sprite{
    background-image:url(menusprites.png);
    width:1.875em;
    height:1.875em;
    margin:0 0.3125em
}
.sprite.up{
    padding:0.3125em 0.125em 0.5625em
}
.menu-sprite.charmander{background-position:0 0}
.menu-sprite.charmeleon{background-position:-30px 0}
.menu-sprite.charizard{background-position:-60px 0}
.menu-sprite.caterpie{background-position:-90px 0}
.menu-sprite.metapod{background-position:-120px 0}
.menu-sprite.butterfree{background-position:-150px 0}
.menu-sprite.pikachu{background-position:-180px 0}
.menu-sprite.raichu{background-position:-210px 0}
.menu-sprite.clefairy{background-position:-240px 0}
.menu-sprite.clefable{background-position:-270px 0}
.menu-sprite.vulpix{background-position:-300px 0}
.menu-sprite.ninetales{background-position:-330px 0}
.menu-sprite.oddish{background-position:-360px 0}
.menu-sprite.gloom{background-position:-390px 0}
.menu-sprite.vileplume{background-position:-420px 0}
.menu-sprite.diglett{background-position:-450px 0}
.menu-sprite.dugtrio{background-position:-480px 0}
.menu-sprite.meowth{background-position:-510px 0}
.menu-sprite.persian{background-position:-540px 0}
.menu-sprite.growlithe{background-position:-570px 0}
.menu-sprite.arcanine{background-position:-600px 0}
.menu-sprite.machop{background-position:-630px 0}
.menu-sprite.machoke{background-position:-660px 0}
.menu-sprite.machamp{background-position:-690px 0}
.menu-sprite.ponyta{background-position:-720px 0}
.menu-sprite.rapidash{background-position:-750px 0}
.menu-sprite.farfetch'd{background-position:-780px 0}
.menu-sprite.shellder{background-position:-810px 0}
.menu-sprite.cloyster{background-position:-840px 0}
.menu-sprite.gastly{background-position:-870px 0}
.menu-sprite.haunter{background-position:-900px 0}
.menu-sprite.gengar{background-position:-930px 0}
.menu-sprite.onix{background-position:-960px 0}
.menu-sprite.krabby{background-position:-990px 0}
.menu-sprite.kingler{background-position:-1020px 0}
.menu-sprite.hitmonlee{background-position:-1050px 0}
.menu-sprite.hitmonchan{background-position:-1080px 0}
.menu-sprite.koffing{background-position:-1110px 0}
.menu-sprite.weezing{background-position:-1140px 0}
.menu-sprite.rhyhorn{background-position:-1170px 0}
.menu-sprite.rhydon{background-position:-1200px 0}
.menu-sprite.goldeen{background-position:-1230px 0}
.menu-sprite.seaking{background-position:-1260px 0}
.menu-sprite.mr_mime{background-position:-1290px 0}
.menu-sprite.magikarp{background-position:-1320px 0}
.menu-sprite.gyarados{background-position:-1350px 0}
.menu-sprite.lapras{background-position:-1380px 0}
.menu-sprite.ditto{background-position:-1410px 0}
.menu-sprite.eevee{background-position:-1440px 0}
.menu-sprite.vaporeon{background-position:-1470px 0}
.menu-sprite.jolteon{background-position:-1500px 0}
.menu-sprite.flareon{background-position:-1530px 0}
.menu-sprite.snorlax{background-position:-1560px 0}
.menu-sprite.hoothoot{background-position:-1590px 0}
.menu-sprite.noctowl{background-position:-1620px 0}
.menu-sprite.chinchou{background-position:-1650px 0}
.menu-sprite.lanturn{background-position:-1680px 0}
.menu-sprite.pichu{background-position:-1710px 0}
.menu-sprite.cleffa{background-position:-1740px 0}
.menu-sprite.togepi{background-position:-1770px 0}
.menu-sprite.togetic{background-position:-1800px 0}
.menu-sprite.natu{background-position:-1830px 0}
.menu-sprite.xatu{background-position:-1860px 0}
.menu-sprite.bellossom{background-position:-1890px 0}
.menu-sprite.sudowoodo{background-position:-1920px 0}
.menu-sprite.wooper{background-position:-1950px 0}
.menu-sprite.quagsire{background-position:-1980px 0}
.menu-sprite.espeon{background-position:-2010px 0}
.menu-sprite.umbreon{background-position:-2040px 0}
.menu-sprite.wobbuffet{background-position:-2070px 0}
.menu-sprite.steelix{background-position:-2100px 0}
.menu-sprite.qwilfish{background-position:-2130px 0}
.menu-sprite.shuckle{background-position:-2160px 0}
.menu-sprite.sneasel{background-position:-2190px 0}
.menu-sprite.swinub{background-position:-2220px 0}
.menu-sprite.piloswine{background-position:-2250px 0}
.menu-sprite.corsola{background-position:-2280px 0}
.menu-sprite.remoraid{background-position:-2310px 0}
.menu-sprite.octillery{background-position:-2340px 0}
.menu-sprite.delibird{background-position:-2370px 0}
.menu-sprite.mantine{background-position:-2400px 0}
.menu-sprite.tyrogue{background-position:-2430px 0}
.menu-sprite.hitmontop{background-position:-2460px 0}
.menu-sprite.larvitar{background-position:-2490px 0}
.menu-sprite.pupitar{background-position:-2520px 0}
.menu-sprite.tyranitar{background-position:-2550px 0}
.menu-sprite.zigzagoon{background-position:-2580px 0}
.menu-sprite.linoone{background-position:-2610px 0}
.menu-sprite.lotad{background-position:-2640px 0}
.menu-sprite.lombre{background-position:-2670px 0}
.menu-sprite.ludicolo{background-position:-2700px 0}
.menu-sprite.seedot{background-position:-2730px 0}
.menu-sprite.nuzleaf{background-position:-2760px 0}
.menu-sprite.shiftry{background-position:-2790px 0}
.menu-sprite.wingull{background-position:-2820px 0}
.menu-sprite.pelipper{background-position:-2850px 0}
.menu-sprite.ralts{background-position:-2880px 0}
.menu-sprite.kirlia{background-position:-2910px 0}
.menu-sprite.gardevoir{background-position:-2940px 0}
.menu-sprite.nincada{background-position:-2970px 0}
.menu-sprite.ninjask{background-position:-3000px 0}
.menu-sprite.shedinja{background-position:-3030px 0}
.menu-sprite.sableye{background-position:-3060px 0}
.menu-sprite.mawile{background-position:-3090px 0}
.menu-sprite.electrike{background-position:-3120px 0}
.menu-sprite.manectric{background-position:-3150px 0}
.menu-sprite.roselia{background-position:-3180px 0}
.menu-sprite.wailmer{background-position:-3210px 0}
.menu-sprite.wailord{background-position:-3240px 0}
.menu-sprite.torkoal{background-position:-3270px 0}
.menu-sprite.trapinch{background-position:-3300px 0}
.menu-sprite.vibrava{background-position:-3330px 0}
.menu-sprite.flygon{background-position:-3360px 0}
.menu-sprite.lunatone{background-position:-3390px 0}
.menu-sprite.solrock{background-position:-3420px 0}
.menu-sprite.barboach{background-position:-3450px 0}
.menu-sprite.whiscash{background-position:-3480px 0}
.menu-sprite.corphish{background-position:-3510px 0}
.menu-sprite.crawdaunt{background-position:-3540px 0}
.menu-sprite.baltoy{background-position:-3570px 0}
.menu-sprite.claydol{background-position:-3600px 0}
.menu-sprite.feebas{background-position:-3630px 0}
.menu-sprite.milotic{background-position:-3660px 0}
.menu-sprite.duskull{background-position:-3690px 0}
.menu-sprite.dusclops{background-position:-3720px 0}
.menu-sprite.wynaut{background-position:-3750px 0}
.menu-sprite.snorunt{background-position:-3780px 0}
.menu-sprite.glalie{background-position:-3810px 0}
.menu-sprite.budew{background-position:-3840px 0}
.menu-sprite.roserade{background-position:-3870px 0}
.menu-sprite.combee{background-position:-3900px 0}
.menu-sprite.vespiquen{background-position:-3930px 0}
.menu-sprite.cherubi{background-position:-3960px 0}
.menu-sprite.cherrim{background-position:-3990px 0}
.menu-sprite.shellos{background-position:-4020px 0}
.menu-sprite.gastrodon{background-position:-4050px 0}
.menu-sprite.drifloon{background-position:-4080px 0}
.menu-sprite.drifblim{background-position:-4110px 0}
.menu-sprite.stunky{background-position:-4140px 0}
.menu-sprite.skuntank{background-position:-4170px 0}
.menu-sprite.bronzor{background-position:-4200px 0}
.menu-sprite.bronzong{background-position:-4230px 0}
.menu-sprite.bonsly{background-position:-4260px 0}
.menu-sprite.mime_jr{background-position:-4290px 0}
.menu-sprite.munchlax{background-position:-4320px 0}
.menu-sprite.riolu{background-position:-4350px 0}
.menu-sprite.lucario{background-position:-4380px 0}
.menu-sprite.hippopotas{background-position:-4410px 0}
.menu-sprite.hippowdon{background-position:-4440px 0}
.menu-sprite.skorupi{background-position:-4470px 0}
.menu-sprite.drapion{background-position:-4500px 0}
.menu-sprite.croagunk{background-position:-4530px 0}
.menu-sprite.toxicroak{background-position:-4560px 0}
.menu-sprite.mantyke{background-position:-4590px 0}
.menu-sprite.snover{background-position:-4620px 0}
.menu-sprite.abomasnow{background-position:-4650px 0}
.menu-sprite.weavile{background-position:-4680px 0}
.menu-sprite.rhyperior{background-position:-4710px 0}
.menu-sprite.togekiss{background-position:-4740px 0}
.menu-sprite.leafeon{background-position:-4770px 0}
.menu-sprite.glaceon{background-position:-4800px 0}
.menu-sprite.mamoswine{background-position:-4830px 0}
.menu-sprite.gallade{background-position:-4860px 0}
.menu-sprite.dusknoir{background-position:-4890px 0}
.menu-sprite.froslass{background-position:-4920px 0}
.menu-sprite.rotom{background-position:-4950px 0}
.menu-sprite.purrloin{background-position:-4980px 0}
.menu-sprite.liepard{background-position:-5010px 0}
.menu-sprite.munna{background-position:-5040px 0}
.menu-sprite.musharna{background-position:-5070px 0}
.menu-sprite.pidove{background-position:-5100px 0}
.menu-sprite.tranquill{background-position:-5130px 0}
.menu-sprite.unfezant{background-position:-5160px 0}
.menu-sprite.roggenrola{background-position:-5190px 0}
.menu-sprite.boldore{background-position:-5220px 0}
.menu-sprite.gigalith{background-position:-5250px 0}
.menu-sprite.woobat{background-position:-5280px 0}
.menu-sprite.swoobat{background-position:-5310px 0}
.menu-sprite.drilbur{background-position:-5340px 0}
.menu-sprite.excadrill{background-position:-5370px 0}
.menu-sprite.timburr{background-position:-5400px 0}
.menu-sprite.gurdurr{background-position:-5430px 0}
.menu-sprite.conkeldurr{background-position:-5460px 0}
.menu-sprite.tympole{background-position:-5490px 0}
.menu-sprite.palpitoad{background-position:-5520px 0}
.menu-sprite.seismitoad{background-position:-5550px 0}
.menu-sprite.throh{background-position:-5580px 0}
.menu-sprite.sawk{background-position:-5610px 0}
.menu-sprite.cottonee{background-position:-5640px 0}
.menu-sprite.whimsicott{background-position:-5670px 0}
.menu-sprite.basculin{background-position:-5700px 0}
.menu-sprite.darumaka{background-position:-5730px 0}
.menu-sprite.darmanitan{background-position:-5760px 0}
.menu-sprite.maractus{background-position:-5790px 0}
.menu-sprite.dwebble{background-position:-5820px 0}
.menu-sprite.crustle{background-position:-5850px 0}
.menu-sprite.scraggy{background-position:-5880px 0}
.menu-sprite.scrafty{background-position:-5910px 0}
.menu-sprite.sigilyph{background-position:-5940px 0}
.menu-sprite.yamask{background-position:-5970px 0}
.menu-sprite.cofagrigus{background-position:-6000px 0}
.menu-sprite.trubbish{background-position:-6030px 0}
.menu-sprite.garbodor{background-position:-6060px 0}
.menu-sprite.minccino{background-position:-6090px 0}
.menu-sprite.cinccino{background-position:-6120px 0}
.menu-sprite.gothita{background-position:-6150px 0}
.menu-sprite.gothorita{background-position:-6180px 0}
.menu-sprite.gothitelle{background-position:-6210px 0}
.menu-sprite.solosis{background-position:-6240px 0}
.menu-sprite.duosion{background-position:-6270px 0}
.menu-sprite.reuniclus{background-position:-6300px 0}
.menu-sprite.vanillite{background-position:-6330px 0}
.menu-sprite.vanillish{background-position:-6360px 0}
.menu-sprite.vanilluxe{background-position:-6390px 0}
.menu-sprite.karrablast{background-position:-6420px 0}
.menu-sprite.escavalier{background-position:-6450px 0}
.menu-sprite.frillish{background-position:-6480px 0}
.menu-sprite.jellicent{background-position:-6510px 0}
.menu-sprite.joltik{background-position:-6540px 0}
.menu-sprite.galvantula{background-position:-6570px 0}
.menu-sprite.ferroseed{background-position:-6600px 0}
.menu-sprite.ferrothorn{background-position:-6630px 0}
.menu-sprite.klink{background-position:-6660px 0}
.menu-sprite.klang{background-position:-6690px 0}
.menu-sprite.klinklang{background-position:-6720px 0}
.menu-sprite.elgyem{background-position:-6750px 0}
.menu-sprite.beheeyem{background-position:-6780px 0}
.menu-sprite.litwick{background-position:-6810px 0}
.menu-sprite.lampent{background-position:-6840px 0}
.menu-sprite.chandelure{background-position:-6870px 0}
.menu-sprite.axew{background-position:-6900px 0}
.menu-sprite.fraxure{background-position:-6930px 0}
.menu-sprite.haxorus{background-position:-6960px 0}
.menu-sprite.cubchoo{background-position:-6990px 0}
.menu-sprite.beartic{background-position:-7020px 0}
.menu-sprite.shelmet{background-position:-7050px 0}
.menu-sprite.accelgor{background-position:-7080px 0}
.menu-sprite.stunfisk{background-position:-7110px 0}
.menu-sprite.golett{background-position:-7140px 0}
.menu-sprite.golurk{background-position:-7170px 0}
.menu-sprite.pawniard{background-position:-7200px 0}
.menu-sprite.bisharp{background-position:-7230px 0}
.menu-sprite.rufflet{background-position:-7260px 0}
.menu-sprite.braviary{background-position:-7290px 0}
.menu-sprite.vullaby{background-position:-7320px 0}
.menu-sprite.mandibuzz{background-position:-7350px 0}
.menu-sprite.heatmor{background-position:-7380px 0}
.menu-sprite.durant{background-position:-7410px 0}
.menu-sprite.deino{background-position:-7440px 0}
.menu-sprite.zweilous{background-position:-7470px 0}
.menu-sprite.hydreigon{background-position:-7500px 0}
.menu-sprite.bunnelby{background-position:-7530px 0}
.menu-sprite.diggersby{background-position:-7560px 0}
.menu-sprite.pancham{background-position:-7590px 0}
.menu-sprite.pangoro{background-position:-7620px 0}
.menu-sprite.espurr{background-position:-7650px 0}
.menu-sprite.meowstic{background-position:-7680px 0}
.menu-sprite.honedge{background-position:-7710px 0}
.menu-sprite.doublade{background-position:-7740px 0}
.menu-sprite.aegislash{background-position:-7770px 0}
.menu-sprite.spritzee{background-position:-7800px 0}
.menu-sprite.aromatisse{background-position:-7830px 0}
.menu-sprite.swirlix{background-position:-7860px 0}
.menu-sprite.slurpuff{background-position:-7890px 0}
.menu-sprite.inkay{background-position:-7920px 0}
.menu-sprite.malamar{background-position:-7950px 0}
.menu-sprite.binacle{background-position:-7980px 0}
.menu-sprite.barbaracle{background-position:-8010px 0}
.menu-sprite.helioptile{background-position:-8040px 0}
.menu-sprite.heliolisk{background-position:-8070px 0}
.menu-sprite.sylveon{background-position:-8100px 0}
.menu-sprite.hawlucha{background-position:-8130px 0}
.menu-sprite.goomy{background-position:-8160px 0}
.menu-sprite.sliggoo{background-position:-8190px 0}
.menu-sprite.goodra{background-position:-8220px 0}
.menu-sprite.phantump{background-position:-8250px 0}
.menu-sprite.trevenant{background-position:-8280px 0}
.menu-sprite.pumpkaboo{background-position:-8310px 0}
.menu-sprite.gourgeist{background-position:-8340px 0}
.menu-sprite.bergmite{background-position:-8370px 0}
.menu-sprite.avalugg{background-position:-8400px 0}
.menu-sprite.noibat{background-position:-8430px 0}
.menu-sprite.noivern{background-position:-8460px 0}
.menu-sprite.grubbin{background-position:-8490px 0}
.menu-sprite.charjabug{background-position:-8520px 0}
.menu-sprite.vikavolt{background-position:-8550px 0}
.menu-sprite.cutiefly{background-position:-8580px 0}
.menu-sprite.ribombee{background-position:-8610px 0}
.menu-sprite.wishiwashi{background-position:-8640px 0}
.menu-sprite.mareanie{background-position:-8670px 0}
.menu-sprite.toxapex{background-position:-8700px 0}
.menu-sprite.mudbray{background-position:-8730px 0}
.menu-sprite.mudsdale{background-position:-8760px 0}
.menu-sprite.dewpider{background-position:-8790px 0}
.menu-sprite.araquanid{background-position:-8820px 0}
.menu-sprite.morelull{background-position:-8850px 0}
.menu-sprite.shiinotic{background-position:-8880px 0}
.menu-sprite.salandit{background-position:-8910px 0}
.menu-sprite.salazzle{background-position:-8940px 0}
.menu-sprite.stufful{background-position:-8970px 0}
.menu-sprite.bewear{background-position:-9000px 0}
.menu-sprite.bounsweet{background-position:-9030px 0}
.menu-sprite.steenee{background-position:-9060px 0}
.menu-sprite.tsareena{background-position:-9090px 0}
.menu-sprite.oranguru{background-position:-9120px 0}
.menu-sprite.passimian{background-position:-9150px 0}
.menu-sprite.wimpod{background-position:-9180px 0}
.menu-sprite.golisopod{background-position:-9210px 0}
.menu-sprite.pyukumuku{background-position:-9240px 0}
.menu-sprite.type: null{background-position:-9270px 0}
.menu-sprite.silvally{background-position:-9300px 0}
.menu-sprite.turtonator{background-position:-9330px 0}
.menu-sprite.togedemaru{background-position:-9360px 0}
.menu-sprite.mimikyu{background-position:-9390px 0}
.menu-sprite.drampa{background-position:-9420px 0}
.menu-sprite.dhelmise{background-position:-9450px 0}
.menu-sprite.jangmo-o{background-position:-9480px 0}
.menu-sprite.hakamo-o{background-position:-9510px 0}
.menu-sprite.kommo-o{background-position:-9540px 0}
.menu-sprite.grookey{background-position:-9570px 0}
.menu-sprite.thwackey{background-position:-9600px 0}
.menu-sprite.rillaboom{background-position:-9630px 0}
.menu-sprite.scorbunny{background-position:-9660px 0}
.menu-sprite.raboot{background-position:-9690px 0}
.menu-sprite.cinderace{background-position:-9720px 0}
.menu-sprite.sobble{background-position:-9750px 0}
.menu-sprite.drizzile{background-position:-9780px 0}
.menu-sprite.inteleon{background-position:-9810px 0}
.menu-sprite.skwovet{background-position:-9840px 0}
.menu-sprite.greedent{background-position:-9870px 0}
.menu-sprite.rookidee{background-position:-9900px 0}
.menu-sprite.corvisquire{background-position:-9930px 0}
.menu-sprite.corviknight{background-position:-9960px 0}
.menu-sprite.blipbug{background-position:-9990px 0}
.menu-sprite.dottler{background-position:-10020px 0}
.menu-sprite.orbeetle{background-position:-10050px 0}
.menu-sprite.nickit{background-position:-10080px 0}
.menu-sprite.thievul{background-position:-10110px 0}
.menu-sprite.gossifleur{background-position:-10140px 0}
.menu-sprite.eldegoss{background-position:-10170px 0}
.menu-sprite.wooloo{background-position:-10200px 0}
.menu-sprite.dubwool{background-position:-10230px 0}
.menu-sprite.chewtle{background-position:-10260px 0}
.menu-sprite.drednaw{background-position:-10290px 0}
.menu-sprite.yamper{background-position:-10320px 0}
.menu-sprite.boltund{background-position:-10350px 0}
.menu-sprite.rolycoly{background-position:-10380px 0}
.menu-sprite.carkol{background-position:-10410px 0}
.menu-sprite.coalossal{background-position:-10440px 0}
.menu-sprite.applin{background-position:-10470px 0}
.menu-sprite.flapple{background-position:-10500px 0}
.menu-sprite.appletun{background-position:-10530px 0}
.menu-sprite.silicobra{background-position:-10560px 0}
.menu-sprite.sandaconda{background-position:-10590px 0}
.menu-sprite.cramorant{background-position:-10620px 0}
.menu-sprite.arrokuda{background-position:-10650px 0}
.menu-sprite.barraskewda{background-position:-10680px 0}
.menu-sprite.toxel{background-position:-10710px 0}
.menu-sprite.toxtricity{background-position:-10740px 0}
.menu-sprite.toxtricity-l{background-position:-10770px 0}
.menu-sprite.sizzlipede{background-position:-10800px 0}
.menu-sprite.centiskorch{background-position:-10830px 0}
.menu-sprite.clobbopus{background-position:-10860px 0}
.menu-sprite.grapploct{background-position:-10890px 0}
.menu-sprite.sinistea{background-position:-10920px 0}
.menu-sprite.polteageist{background-position:-10950px 0}
.menu-sprite.hatenna{background-position:-10980px 0}
.menu-sprite.hattrem{background-position:-11010px 0}
.menu-sprite.hatterene{background-position:-11040px 0}
.menu-sprite.impidimp{background-position:-11070px 0}
.menu-sprite.morgrem{background-position:-11100px 0}
.menu-sprite.grimmsnarl{background-position:-11130px 0}
.menu-sprite.obstagoon{background-position:-11160px 0}
.menu-sprite.perrserker{background-position:-11190px 0}
.menu-sprite.cursola{background-position:-11220px 0}
.menu-sprite.sirfetch'd{background-position:-11250px 0}
.menu-sprite.mr_rime{background-position:-11280px 0}
.menu-sprite.runerigus{background-position:-11310px 0}
.menu-sprite.milcery{background-position:-11340px 0}
.menu-sprite.alcremie{background-position:-11370px 0}
.menu-sprite.falinks{background-position:-11400px 0}
.menu-sprite.pincurchin{background-position:-11430px 0}
.menu-sprite.snom{background-position:-11460px 0}
.menu-sprite.frosmoth{background-position:-11490px 0}
.menu-sprite.stonjourner{background-position:-11520px 0}
.menu-sprite.eiscue{background-position:-11550px 0}
.menu-sprite.eiscuen{background-position:-11580px 0}
.menu-sprite.indeedee{background-position:-11610px 0}
.menu-sprite.indeedeef{background-position:-11640px 0}
.menu-sprite.morpeko{background-position:-11670px 0}
.menu-sprite.cufant{background-position:-11700px 0}
.menu-sprite.copperajah{background-position:-11730px 0}
.menu-sprite.dracozolt{background-position:-11760px 0}
.menu-sprite.arctozolt{background-position:-11790px 0}
.menu-sprite.dracovish{background-position:-11820px 0}
.menu-sprite.arctovish{background-position:-11850px 0}
.menu-sprite.duraludon{background-position:-11880px 0}
.menu-sprite.dreepy{background-position:-11910px 0}
.menu-sprite.drakloak{background-position:-11940px 0}
.menu-sprite.dragapult{background-position:-11970px 0}
.menu-sprite.zacian{background-position:-12000px 0}
.menu-sprite.zacian-c{background-position:-12030px 0}
.menu-sprite.zamazenta{background-position:-12060px 0}
.menu-sprite.zamazenta-c{background-position:-12090px 0}
.menu-sprite.eternatus{background-position:-12120px 0}


span.hidden-power{
    background-image:url(types.png);
    background-repeat:no-repeat;
    display:inline-block;
    width:3em;
    height:1.125em;
    text-indent:-999em
}
.hidden-power.fighting{background-position:-48px 0}
.hidden-power.flying{background-position:-96px 0}
.hidden-power.poison{background-position:0 -18px}
.hidden-power.ground{background-position:-48px -18px}
.hidden-power.rock{background-position:-96px -18px}
.hidden-power.bug{background-position:0 -36px}
.hidden-power.ghost{background-position:-48px -36px}
.hidden-power.steel{background-position:-96px -36px}
.hidden-power.fire{background-position:0 -54px}
.hidden-power.water{background-position:-48px -54px}
.hidden-power.grass{background-position:-96px -54px}
.hidden-power.electric{background-position:0 -72px}
.hidden-power.psychic{background-position:-48px -72px}
.hidden-power.ice{background-position:-96px -72px}
.hidden-power.dark{background-position:0 -90px}
.hidden-power.dragon{background-position:-48px -90px}
.hidden-power.fairy{background-position:-96px -90px}

.item-sprite{
	width:1.625em;height:1.625em;
	margin: 0.375em 0.125em;
	background-image:url(itemsprites.png)
}
.item-sprite.master-ball{background-position:-26px 0}
.item-sprite.ultra-ball{background-position:-52px 0}
.item-sprite.great-ball{background-position:-78px 0}
.item-sprite.poke-ball{background-position:-104px 0}
.item-sprite.safari-ball{background-position:-130px 0}
.item-sprite.net-ball{background-position:-156px 0}
.item-sprite.dive-ball{background-position:-182px 0}
.item-sprite.nest-ball{background-position:-208px 0}
.item-sprite.repeat-ball{background-position:-234px 0}
.item-sprite.timer-ball{background-position:-260px 0}
.item-sprite.luxury-ball{background-position:-286px 0}
.item-sprite.premier-ball{background-position:-312px 0}
.item-sprite.dusk-ball{background-position:-338px 0}
.item-sprite.heal-ball{background-position:-364px 0}
.item-sprite.quick-ball{background-position:-390px 0}
.item-sprite.cherish-ball{background-position:-416px 0}
.item-sprite.fast-ball{background-position:-416px -260px}
.item-sprite.level-ball{background-position:-442px -260px}
.item-sprite.lure-ball{background-position:-468px -260px}
.item-sprite.heavy-ball{background-position:-494px -260px}
.item-sprite.love-ball{background-position:0 -286px}
.item-sprite.friend-ball{background-position:-26px -286px}
.item-sprite.moon-ball{background-position:-52px -286px}
.item-sprite.sport-ball{background-position:-78px -286px}
.item-sprite.dream-ball{background-position:-416px -312px}
.item-sprite.beast-ball{background-position:-312px -442px}

.game-mark{
    width:10px;height:10px;
    background-image:url(gamemarks.png);
}
.game-mark.black-clover{background-position:-10px 0}
.game-mark.vc{background-position:0 -10px}
.game-mark.go{background-position:-10px -10px}

/* Footer */
[role="contentinfo"] {
    padding: 1.5em 0 0;
    font-size: 0.75em;
    text-align: right
}

@media screen and (max-width: 51.25em) {
    .menu-sprite,.ivs, .hp, .atk, .def, .spa, .spd, .spe, th.hidden-power, td.hidden-power {
        display: none
    }
    
    table, #filters, .btn, .dropdown-menu, #copy2reddit {
        font-size: 0.875em;
    }
    
    td.sprite,td.sprite.up {
        padding:0;
        width:auto;
        max-width:none;
    }    
}

@media screen and (max-width: 67.5em) {
    th.hidden-power,td.hidden-power {
        display: none
    }
}

@media print {
    a {
        color: #000;
        text-decoration: none;
    }
    
    a[href^="mailto:"]:after {
        content: " (" attr(data-email) ")";
    }
    
    [role="search"],
    [role="contentinfo"] {
        display: none;
    }
}

.filtered {
    display: none;
}
.filter{
    display:inline-block;
    margin:0 1em 1em
}
.filter label{
    margin:0 0.5em 0 0;
    vertical-align: middle;
}
#filters .filter label[for] {
    width:8em
}
.multiselect-container{
    position:absolute;
    list-style-type:none;
    margin:0;
    padding:0
}
.multiselect-container .input-group{
    margin:5px
}
.multiselect-container>li{
    padding:0
}
.multiselect-container>li>a.multiselect-all label{
    font-weight:700
}
.multiselect-container>li.multiselect-group label{
    margin:0;
    padding:3px 20px;
    height:100%;
    font-weight:700
}
.multiselect-container>li.multiselect-group-clickable label{
    cursor:pointer
}
.multiselect-container>li>a{
    padding:0
}
.multiselect-container>li>a>label{
    margin:0;
    height:100%;
    cursor:pointer;
    font-weight:400;
    padding:3px 20px 3px 40px
}
.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox{
    margin:0
}
.multiselect-container>li>a>label>input[type=checkbox]{
    margin-bottom:5px
}
.filter .btn{
    padding:6px 3px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px
}
.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio{
    padding:3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio]{
    margin-left:-20px;
    margin-right:0
}

body.shiny tbody tr {
    cursor: pointer
}

.hidden{
    display:none
}

#modal {
    position:fixed;
    top:0;left:0;
    z-index:3000;
    height:100%;
    width:100%;
    background-color:#333;
    background-color:rgba(0,0,0,0.75);
}

#pokemon-info {
    background: url(bg.png);
    width: 28em;
    padding: 1em;
    border: 0.0625em solid #333;
    position: absolute;
    top:50%;left:50%;
    margin-left:-14em;
    margin-top:-10.1875em
}


#pokemon-info .carousel {
    display:block;
    width:3.0625rem;
    height:100%;
    position:absolute;
    top:0;
    left:-3.0625rem;
    text-indent:-999em
}
#pokemon-info .carousel.next{
    left:auto;
    right:-3.5625rem;
}
#pokemon-info .carousel a{
    display:table;
    box-sizing:border-box;
    height:100%;
    padding:0 0 0.5em;
    text-indent:-999em
}
#pokemon-info .carousel a:hover{
    text-decoration:none
}
#pokemon-info .carousel a::before{
    content:"\0025c0";
    color:#dedede;
    text-indent:0;
    font-size:3em;
    display:table-cell;
    vertical-align:middle
}
#pokemon-info .carousel.next a::before{
    content:"\0025b6"
}
#pokemon-info .carousel a:hover::before{
    color:#4d6ad8;
    text-shadow: 0 0 1em #f0f0f0
}

#pokemon-info h1 {    
    color: #333;
    font-size: 1em;
    line-height: 1.875;
    margin: 0.25em 0;
    text-align: left
}
#pokemon-info h1 .menu-sprite {
    vertical-align: middle;    
}
#pokemon-info h1 .level{
    font-weight:400;
    font-size:0.75em
}
#pokemon-info dl {
    width: 18em;
}
#pokemon-info dt, #pokemon-info dd {
    display:inline-block;
    margin:0 0 0.375em
}
#pokemon-info dt {
    font-weight: 700;
    width: 5em;
}
#pokemon-info dd {
    width: 13em
}
#pokemon-info figure {
    background: url(pokeball-grey.png) no-repeat center center;
    text-align: center;
    line-height: 10em;
    width: 11.25em;
    height: 11.25em;
    top: 1em;
    right: 1em;
    position: absolute;
}
#pokemon-info figure .model {
    vertical-align: middle;
    max-width:11.25em
}
#pokemon-info figure .item-sprite {
    position: absolute;
    bottom: 0;
    right: 0.5em;
}
#pokemon-info ul {
    list-style: none;
    clear: right;
}
#pokemon-info li {
    display: inline-block;
    width: 12.9375em;
}
#pokemon-info li::before {content: "~ ";}

#pokemon-info .language{
    color:#fff;
    background-color:#505050;
    border-radius:0.143em;
    padding:0.214em;
    font-size:0.875em;
    line-height:1;
    position: absolute;
    top: 1em;
    right: 1em;
}
#pokemon-info .game-mark{
    position: absolute;
    text-indent:-999em;
    top: 2.5em;
    right: 1em;
}
#pokemon-info .notes {
    font-size:0.75em;
    margin:1.667em 0 0
}
#pokemon-info .notes a {
    color:#4d6ad8
}

#copy2reddit{
    margin: 1em;
}
#copy2reddit p {
    display:inline-block;
    line-height:2;
    vertical-align:middle
}
#copy2reddit .filter {
    display:block;
    margin-top:.5em
}
#markdown {
    font-family:Consolas,monaco,monospace;
    font-size:0.75em;
    height:15em;
    overflow:scroll;
    background:#fff;
    padding:0.5em;
    border:0.0625em solid #ccc;
}
#markdown .line {
    white-space: nowrap;
    word-wrap: break-word;
}
